body {
  background-color: #151515;
  font-family: "PT Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.section {
  padding: 30px 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1120px;
}

[type="checkbox"] + label {
  position: absolute;
}

[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  -webkit-appearance: none;
}

[type="checkbox"] + label::before {
  width: 17px;
  height: 17px;
  background-color: #151515;
  border: solid 1px #ffffff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;
}

[type="checkbox"]:checked + label::before {
  background-image: url("../svg/small-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.container-flex {
  display: flex;
}

.left-panel {
  width: 221px;
  height: 877px;
  background-color: #1d1c1c;
  margin-right: 55px;
}

.left-panel__img {
  width: 221px;
  height: 293px;
  background-image: url(../img/avatar-1x.jpeg);
  background-size: cover;
  background-position: center;
  border: solid 1px #db9351;
}

.left-panel__icons {
  top: 21px;
  left: 20px;
  position: relative;
}

.left-panel__nav {
  padding: 53px 0 53px 30px;
}

.left-panel__wrap-link {
  display: flex;
  margin-bottom: 108px;
}

.left-panel__link {
  color: #ffffff;
}

.left-panel__link.current {
  color: #db9351;
}

.left-panel__link-amount {
  color: #db9351;
  margin-left: 63px;
}

.left-panel__item-link {
  color: #ffffff;
}

.left-panel__item-link:hover {
  color: #db9351;
}

.left-panel__item-link.current {
  color: #db9351;
}

.left-panel__list:not(:last-child) {
  margin-bottom: 108px;
}

.left-panel__item:not(:last-child) {
  margin-bottom: 27px;
}

.left-panel__button {
  width: 100%;
  height: 126px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #db9351;
}

.messages {
  width: 815px;
}

.custom-messages__wrap-block {
  display: flex;
  align-items: center;
}

.messages__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  border-bottom: solid 1px #212121;
}

.messages__wrap-list {
  display: flex;
  align-items: center;
}

.messages__list {
  display: flex;
}

.messages__list:not(:last-child) {
  margin-right: 102px;
}

.messages__item:not(:last-child) {
  margin-right: 18px;
}

.messages__link {
  color: #ffffff;
}

.messages__link-accent:hover {
  color: #db9351;
}

.messages__link-color {
  color: #ff5b5c;
}

.messages__link.current {
  color: #db9351;
}

.messages__button {
  width: 169px;
  height: 31px;
  cursor: pointer;
  border: solid 1px #db9351;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #151515;
}

.custom-messages__item {
  height: 57px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #212121;
}

.custom-messages__item:hover {
  border-top: solid 1px #db9351;
  border-bottom: solid 1px #db9351;
}

.custom-messages__item:last-child {
  margin-bottom: 49px;
}

.custom-messages__checkbox {
  width: 17px;
  height: 17px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  border: solid 1px #ffffff;
  cursor: pointer;
}

.custom-messages__profile {
  width: 41px;
  height: 41px;
  margin-right: 15px;
  background-color: #444444;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-messages__profile-online {
  position: relative;
  left: 23px;
  bottom: 17px;
}

.custom-messages__profile-icons {
  position: relative;
}

.custom-messages__profile-icons--position {
  right: 4px;
}

.custom-messages__user-name {
  margin-right: 16px;
  text-decoration: underline;
  color: #ffffff;
  width: 136px;
}

.custom-messages__svg-shop {
  margin-right: 15px;
}

.custom-messages__text {
  color: #ffffff;
  margin-right: 29px;
  background-image: linear-gradient(90deg, #ffff, #212121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-messages__list-date {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.custom-messages__list-date {
  margin-left: auto;
}

.custom-messages__item-date {
  margin-right: 11px;
}

.pagination__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination__item {
  margin-right: 8px;
}

.pagination__item.current {
  border-radius: 50%;
  border: solid 1px #db9351;
}

.pagination__item:last-child {
  margin-right: 18px;
}

.pagination__link.current {
  color: #db9351;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #ffffff;
}

.pagination__link:hover {
  color: #db9351;
}
/*# sourceMappingURL=main.css.map */