.messages {
  width: 815px;
}
.custom-messages__wrap-block {
  display: flex;
  align-items: center;
}
.messages__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  border-bottom: solid 1px $secondary-color-two;
}
.messages__wrap-list {
  display: flex;
  align-items: center;
}
.messages__list {
  display: flex;
  @media (max-width: 939.98px) {
    flex-direction: column;
  }
}
.messages__list:not(:last-child) {
  margin-right: 102px;

  @media (max-width: 939.98px) {
    margin-right: 50px;
  }
  @media (max-width: 767px) {
    margin-right: 20px;
  }
}

.messages__item:not(:last-child) {
  margin-right: 18px;
  @media (max-width: 939.98px) {
    margin-bottom: 4px;
  }
}
.messages__link {
  color: $main-color;
}
.messages__link-accent:hover {
  color: $accent-color;
}
.messages__link-color {
  color: $delete-color;
}

.messages__link.current {
  color: $accent-color;
}
.messages__button {
  width: 169px;
  height: 31px;
  cursor: pointer;
  border: solid 1px $accent-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $body-background;

  @media (max-width: 1023.98px) {
    width: 130px;
  }
  @media (max-width: 767px) {
    width: 70px;
  }
}
.custom-messages__item {
  height: 57px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px $secondary-color-two;
  &:hover {
    border-top: solid 1px $accent-color;
    border-bottom: solid 1px $accent-color;
  }

  @media (max-width: 767px) {
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.custom-messages__item:last-child {
  margin-bottom: 49px;
}

.custom-messages__checkbox {
  width: 17px;
  height: 17px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-background;
  border: solid 1px $main-color;
  cursor: pointer;
}
.custom-messages__profile {
  width: 41px;
  height: 41px;
  margin-right: 15px;
  background-color: $main-color-two;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
    margin-top: 2px;
  }
}

.custom-messages__profile-online {
  position: relative;
  left: 23px;
  bottom: 17px;

  @media (max-width: 767px) {
    left: 18px;
    bottom: 10px;
  }
}
.custom-messages__profile-icons {
  position: relative;
}
.custom-messages__profile-icons--position {
  right: 4px;
}
.custom-messages__user-name {
  margin-right: 16px;
  text-decoration: underline;
  color: $main-color;
  width: 136px;

  @media (max-width: 939.98px) {
    width: 105px;
  }
}
.custom-messages__svg-shop {
  margin-right: 15px;
}
.custom-messages__text {
  margin-right: 29px;
  background-image: linear-gradient(90deg, #ffff, #212121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 939.98px) {
    margin-right: 5px;
    font-size: 12px;
  }
}

.custom-messages__list-date {
  display: flex;
  align-items: center;
  color: $main-color-three;

  @media (max-width: 939.98px) {
    font-size: 12px;
    align-items: flex-end;
    flex-direction: column;
  }
  @media (max-width: 767px) {
    flex-direction: row;
  }
}
.custom-messages__list-date {
  margin-left: auto;
  @media (max-width: 767px) {
    font-size: 8px;
  }
}

.custom-messages__item-date {
  @media (min-width: 940.98px) {
    margin-right: 11px;
  }
  @media (max-width: 767px) {
    margin-right: 5px;
  }
}
.pagination__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination__item {
  margin-right: 8px;

  @media (max-width: 767px) {
    margin-right: 3px;
  }
}
.pagination__item.current {
  border-radius: 50%;
  border: solid 1px $accent-color;
}
.pagination__item:last-child {
  @media (min-width: 768px) {
    margin-right: 18px;
  }
}
.pagination__link.current {
  color: $accent-color;
}
.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: $main-color;
  &:hover {
    color: $accent-color;
  }

  @media (max-width: 939.98px) {
    width: 16px;
    height: 16px;
  }
}
.pagination__icon {
  @media (max-width: 767px) {
    display: none;
  }
}
