.messages {
  width: 815px;
}
.custom-messages__wrap-block {
  display: flex;
  align-items: center;
}
.messages__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  border-bottom: solid 1px $secondary-color-two;
}
.messages__wrap-list {
  display: flex;
  align-items: center;
}
.messages__list {
  display: flex;
}
.messages__list:not(:last-child) {
  margin-right: 102px;
}
.messages__item {
}
.messages__item:not(:last-child) {
  margin-right: 18px;
}
.messages__link {
  color: $main-color;
}
.messages__link-accent:hover {
  color: $accent-color;
}
.messages__link-color {
  color: $delete-color;
}

.messages__link.current {
  color: $accent-color;
}
.messages__button {
  width: 169px;
  height: 31px;
  cursor: pointer;
  border: solid 1px $accent-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $body-background;
}
.messages__button-img {
}

.custom-messages__item {
  height: 57px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px $secondary-color-two;
  &:hover {
    border-top: solid 1px $accent-color;
    border-bottom: solid 1px $accent-color;
  }
}
.custom-messages__item:last-child {
  margin-bottom: 49px;
}
.custom-messages__checkbox {
  width: 17px;
  height: 17px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-background;
  border: solid 1px $main-color;
  cursor: pointer;
}
.custom-messages__profile {
  width: 41px;
  height: 41px;
  margin-right: 15px;
  background-color: $main-color-two;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-messages__user-name {
  margin-right: 16px;
  text-decoration: underline;
  color: $main-color;
  width: 136px;
}
.custom-messages__svg-shop {
  margin-right: 15px;
}
.custom-messages__wrap {
}
.custom-messages__text {
  color: $main-color;
  margin-right: 29px;
  background-image: linear-gradient(90deg, #ffff, #212121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-messages__list-date {
  display: flex;
  align-items: center;
  color: $main-color;
}
.custom-messages__list-date {
  margin-left: auto;
}

.custom-messages__item-date {
  margin-right: 11px;
}

.pagination__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination__item {
  &:hover {
    border-radius: 50%;
    border: solid 1px $accent-color;
  }
}
.pagination__item.current {
  border-radius: 50%;
  border: solid 1px $accent-color;
}
.pagination__item:last-child {
  margin-right: 18px;
}
.pagination__link.current {
  color: $accent-color;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: $main-color;
  &:hover {
    color: $accent-color;
    padding: 2px 7px;
  }
}
