body {
  background-color: $body-background;
  font-family: "PT Serif", serif;
  @media (max-width: 939.98px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 375px) {
    font-size: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.section {
  padding: 30px 0;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1120px;
}
