$body-background: #151515;

$accent-color: #db9351;
$online-color: #abdb51;
$delete-color: #ff5b5c;

$main-color: #ffffff;
$main-color-two: #444444;
$main-color-three: #8c8c8c;
$secondary-color: #1d1c1c;
$secondary-color-two: #212121;

$gradient-color: rgba(21, 21, 21, 0);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$start-mobile: 320px;
$max-mobile: 767px;
$max-tablet: 1199px;
